		body {
			font-size: 24px;	/* Font size used in browsers that don’t support fluid units */
			font-size: 150%;	/* A percentage baseline font size offers more consistency for browser support */
			font-family: verdana, helvetica, arial, sans-serif;
			color: #000000; /* black for text colour */
			background-color: #204c75; /* dark blue */
			margin: 0;
			padding: 0;
		}

		h1 {
			font-size: 2.5rem;	/* Text in pixels doesn’t scale up (or down) when you resize it in Old Internet Explorer browsers */
			text-align: center;	/* Using rem/em to size text, gets rids of this problem */
		}

		h2, h3 {
			border-bottom: 2px solid #FFD700; /* gold */
			padding-top: 1%; /* Compensates for pushing up effect of border-bottom */
			margin: 0 1%;
		}

		h2 {
			font-size: 2rem;
			text-align: center;
		}

		h2 span {
			font-size: 1.75rem;		/* Styling for Title: Major Composer Anniversaries in 2020 */
		}

		h3 {
			font-size: 1.75rem;
			padding-left: 1%;
		}

		h3#key {
			text-align: center;		/* Styling for Title: KEY for common abbreviations: */
		}

		h4 {
			font-size: 1.22rem; /* Too big and words will expand out of gold region */
			padding-left: 1%;
		}

		h5 {
			font-size: 1.1rem;
			padding-left: 1%;
		}

		p  {
			line-height: 1.5;	/* 150% line height usually best */
			/*👉max-width: 75ch; TODO:max-width: calc(30em * 0.5);👈*/
			/* word-wrap: break-word; */
			text-align: justify;
			padding: 0 1%;
			color: #FFFFFF; /* white */
		}

		hr {
			border: 2px solid; /* Change border but leave width and height at default, will look same in IE, Firefox and Opera */
			color: #204c75 ; /* dark blue */
		}

		table {
			border-collapse: separate;
			border-spacing: 5rem 1rem;
		}

		table td {
			vertical-align: top;
		}

		.pngtitle img {
			max-width: 100%;	/* Image will not stretch larger than its natural size */
			max-height: 100%;	/* By setting the height as well as the width, CSS will shrink the image, maintaining it's aspect ratio */
			margin: auto;
			display: block;	/* Image is inline by default so need to convert to block for margin to have an effect */
		}

		.complab, .update, .composers {
			color: #FFD700; /* gold */
		}

		.update {
			font-family: georgia, "Times New Roman", arial, helvetica, sans-serif;
			font-size: 1.35rem;
			text-align: center;
		}

		.nojavascript {
			text-align: center;
			font-size: 2rem;
			color: #000000;
		}

		.composers {
			font-family: arial, helvetica, sans-serif;
			font-size: 1.5rem;
			text-align: center;
		}

		.tablekey {
			font-family: arial, helvetica, sans-serif;
			font-size: 1.25rem;
			font-weight: bold;
			padding: 0.6%;
		}

		/*.tableKey2 {
			font-family: monospace, sans-serif;
			font-size: 0.9em;
			padding: 1%;
		}*/

		.container {
			position: relative;
			width: 686px;        /* width + padding for IE 5.x */
			w\idth: 680px;       /* real width */
			margin: 20px auto 0 auto;
			background-color: #4F94CD; /* light blue */
			border-radius: 9px;	 /* Added rounded corners effect via css instead of javascript 130820 */
		}

		.clickbandtext {
			display: none;      /* Hide click band for info text. Text readers do not need to see this */
		}

/* Accordion styles (static) */

ul.accordion {
  /* display: block; */
  list-style-type: none;                                      /* This stops bullet points appearing left of written underlined header links */
  margin: 1%;   /* 0; */                                       /* Shrinks box width wise */
  padding: 0; /* 0 1em; */ 				               /* Shrinks bands width wise */
  position: relative; /* Forces the bottom border of the h2 to display in IE. If change position to absolute box shrinks */
}

ul.accordion li {
  clear: left;
  position: relative;              /* If change position to absolute, box shrinks vertically */
}

ul.accordion h3 {
  margin: 0;  /*Push in yellow underline */            /* margin-left: -1% Was needed to line up left hand side of composer name with left hand side of band */
  /* background-color: #4F94CD; */ /* light blue */      /* To keep header background from changing to box colour if different */
}

ul.accordion h4 {
  background-color: #FFD700; /* gold */                /* Band colour */
  border: solid #FFF;        /* white */
  border-width: 5px 0.35em;  /* 1px 0; */              /* Border effect for band */
  margin: 10px 0;             /* 1% 0; */               /* 0 -0.667em -1px */     /* Separation between bands */
}

ul.accordion h4 a:link,
ul.accordion h4 a:visited {
  color: #000;              	/* Colour of band link words */
  display: block;	/* block causes the link to display as a block element, as for navigation links */
  margin: 0 -0.1em 0 -0.40em; /* To get highlighted colour covering band colour */
  padding: 0;               	/* 0 0.667em; 0.667em pushing band link words to right */
  text-decoration: none;    	/* Prevents underlining for header links */
}

ul.accordion p {
	font-size: 1rem;
	margin: 1em 0;
}

/* Accordion styles (dynamic) */

ul.accordion li.collapsed * {
  position: absolute;                    /* Don't want to use display: none to hide collapsed fold (li element of class collapsed) because screen readers don't read */
  left: -10000px; /*Offleft positioning*//* content hidden with display: none even when it is later revealed. Hide content instead with off left positioning. */
										 /* Screen readers - */
}                                        /* will be able to read the hidden content. But, keyboard users will be forced to tab through content they cannot see! */
                                         /* Can also use text-indent: -10000px; (Doesn't work if direction of language right to left). Can also use zero height i.e */
										 /* position: absolute; height: 0; overflow: hidden; (Voice Over screen reader will not read content within element with 0 */
										 /* height) */

ul.accordion li.collapsed h3,
ul.accordion li.collapsed h4,
ul.accordion li.collapsed h4 a:link,
ul.accordion li.collapsed h4 a:visited,
ul.accordion li.expanded h4,
ul.accordion li.expanded h4 a:link,
ul.accordion li.expanded h4 a:visited {
  position: static;                        /* Keeps band (header) (h4) and Composer name (h3) from being shifted -10000px to left */
}

ul.accordion li.expanded h4 a {
	background-color: grey;		/* Band colour for expanded section */
}

/* Change background colour for header of fold (band) that is expanded, has the cursor over it, */
                                        /* or has keyboard focus */


/* ul.accordion li.collapsed h4 a:hover {
	background-color: #204c75;
}

ul.accordion li.collapsed h4 a:focus {
	background-color: #CCC;
}

ul.accordion li.collapsed h4 a:active {
  background-color: purple;
} */