		html{
			-moz-text-size-adjust: none; 	/* Mobile Safari increases the default font-size when you switch a website from portrait to landscape */
			-webkit-text-size-adjust: none; /* To stop this font-size inflation use the -webkit-text-size-adjust property */
			text-size-adjust: none;
			scroll-padding-top: 58px; /* To stop scrolled to Composer heading being obscured by sticky header */
			/* scrollbar-width: normal; Scrollbar settings for Firefox */
			/* scrollbar-color: var(--thumb, #204c75) var(--scrollbar,#3279B3); */
			/* scroll-behavior: smooth; Not good for people wanting to avoid quick animations */
    		/* height: -webkit-fill-available; Part of mobile 100vh height problem fix, where bit of page missing (e.g footer) due to */
			/* height: fill-available;         possible address bar taking up space */
		} /* The above  height: fill-available was updated to make sure the html element was being used, as Chrome is updating the behavior to match Firefox’s implementation */

		body {
			font-size: 24px;	/* Font size used in browsers that don’t support fluid units */
			font-size: 150%;	/* A percentage baseline font size offers more consistency for browser support */
			font-family: verdana, helvetica, arial, sans-serif;
			color: #000000; /* black for heading, link and menu text colour */
			background-color: #204c75; /* dark blue backup text highlight colour when javascript disabled */
			margin: 0;
			padding: 0;
			-webkit-font-smoothing: antialiased; /* Chrome and Safari still use subpixel anti-aliasing by default. We need to explicitly turn it off */
			/* overflow-x: hidden; */  /* To allow container to break out of constrained width */
			/* min-height: 100vh; */
			height: -webkit-fill-available; /* Part of mobile 100vh height problem fix, where bit of page missing (e.g footer) due to*/
			height: fill-available;         /* possible address bar taking up space */
		}

		header {
			z-index: 2; /* To put Skip to Main Content above small devices menu background blur */
			position: fixed;
			outline: 0;
			border: 3px solid rgba(0,0,0,0); /* Removes black pixel in top left hand corner */
		}

		.topbar {
			z-index: 1; /* So main content scrolls underneath */
			top: 0;
			position: fixed;	/* Fallback.  stickybits.js polyfill available */
			position: sticky; /* sticky and top fix the navbar in position. No jittery movement on page scrolling using jQuery anymore */
			border-bottom-right-radius: 9px;
			border-bottom-left-radius: 9px;
			/*text-align: center;*/
			/* min-width: 680px; */
			/* width: fit-content; */
			max-width: 1900px; /* Need to put brakes on this for higher widths */
			line-height: 1.5;
			height: 42px; /* Was 36px. Changed to allow for transparent border on .topbar a */
			background-color: #3279B3;
		}

		.skiplink {
			position: absolute;
			/* top: 0;
			left: 0; */
			background: white;
			color: #A22BE7;
			/* left: -10000px; */
			transform: translateY(-105%);
			transition: transform 0.3s ease-in;

			/*additional properties if absolute positioning is deactivated */
			/* width:1px;
			height:1px;
			overflow:hidden; */
		}

		  .skiplink:focus {
			/* left: 5%; */
			transform: translateY(0%);
			transform: translateX(7%);
			/* left: 0; */

			/*additional properties if absolute positioning is deactivated */
			/* width:auto;
			height:auto; */
		}

		h1 {
			font-size: 2.5rem;	/* Text in pixels doesn’t scale up (or down) when you resize it in Old Internet Explorer browsers */
			text-align: center;	/* Using rem/em to size text, gets rids of this problem */
		}

		h2, h3 {
			border-bottom: 2px solid #FFD700; /* gold */
			padding-top: 1%; /* Compensates for pushing up effect of border-bottom */
			margin: 0 1%;
		}

		h2 {
			font-size: 2rem;
			text-align: center;
		}

		h2 span {
			font-size: 1.75rem;		/* Styling for Title: Major Composer Anniversaries in 2020 */
		}

		h3 {
			font-size: 1.75rem;
			padding-left: 1%;
		}

		h3#key {
			text-align: center;		/* Styling for Title: KEY for common abbreviations: */
		}

		h4 {
			font-size: 1.15rem; /* Too big and words will expand out of gold region (Was 1.22rem) */
			padding-left: 1%;
		}

		h5 {
			font-size: 1.5rem;
			padding-left: 1%;
		}

		p  {
			line-height: 1.5;	/* 150% line height usually best */
			text-align: justify;
			padding: 0 1%;
			/* color: #ffffff; */
		}

		hr {
			border: 2px solid; /* Change border but leave width and height at default, will look same in IE, Firefox and Opera */
			color: #204c75 ; /* dark blue Backup border colour when javascript disabled */
		}

		table {
			border-collapse: separate;
			border-spacing: 5rem 1rem;
		}

		table tr.hideme {
			Visibility: collapse;
		}

		table td {
			vertical-align: top;
		}

		.pngtitle img {
			max-width: 100%;	/* Image will not stretch larger than its natural size */
			max-height: 100%;	/* By setting the height as well as the width, CSS will shrink the image, maintaining it's aspect ratio */
			margin: auto;
			display: block;	/* Image is inline by default so need to convert to block for margin to have an effect */
		}

		/* .complab, .update, .composers {
			color: #FFD700 gold
		} */

		.update {
			font-family: georgia, "Times New Roman", arial, helvetica, sans-serif;
			font-size: 1.4rem;
			text-align: center;
		}

		.nojavascript {
			text-align: center;
			font-size: 2rem;
			/* color: #000000; */
		}

		.composers {
			font-family: arial, helvetica, sans-serif;
			font-size: 1.65rem;
			text-align: center;
		}

		.tablekey {
			font-family: arial, helvetica, sans-serif;
			font-size: 1.25rem;
			font-weight: bold;
			letter-spacing: 0.05em; /* Make all uppercase more legible, especially at smaller font sizes */
			padding: 0.6%;
			/* color: #ffffff; */
		}

		/*.tableKey2 {
			font-family: monospace, sans-serif;
			font-size: 0.9em;
			padding: 1%;
		}*/

		.container {
			position: relative;
			/* width: 686px; */        /* width + padding for IE 5.x */
			/* w\idth: 680px;*/      /* real width */
			width: 680px;
			margin: 20px auto 0 auto;
			background-color: #3279B3; /* light blue high contrast backup text colour when javascript disabled */
			border-radius: 9px;	 /* Added rounded corners effect via css instead of javascript 130820 */
		}

		.clickbandtext {
			display: none;      /* Hide click band for info text. Text readers do not need to see this */
		}

/*	Text highlight colour */

		::selection { /* The selectors are not combined, even though the style blocks are doing the same thing. */
					  /* It doesn’t work if you combine them because browsers ignore the entire selector if there */
					  /* is a part of it they don’t understand or it is invalid */
			background-color: var(--highlight-color, #204c75); /* #204c75 Fallback/Default value when javascript disabled */
		}

		  /* Safari & Chrome - Webkit Rendering */
		::-webkit-selection {
			background-color: var(--highlight-color, #204c75);
		}

		  /* Mozilla based - Gecko Rendering. Legacy Firefox syntax (version 61 and below) */
		::-moz-selection {
			background-color: var(--highlight-color, #204c75);
		}

/* Custom Scrollbar */

	::-webkit-scrollbar {
		width: 0.5em;
	}

	::-webkit-scrollbar-track {
		background-color: var(--scrollbar);
		border-radius: 100vw;
		margin-block: 0.5em;
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--thumb);
		border-radius: 100vw;
		border: 0.15em solid var(--scrollbar);
	}

	@supports (scrollbar-color: var(--thumb,#3279B3) var(--scrollbar,#204c75)) { /* Scrollbar settings for Firefox */
		* {
			scrollbar-color: var(--thumb,#3279B3) var(--scrollbar,#204c75);
			scrollbar-width: normal;
		}
	}

/* Accordion styles (static) */

ul.accordion {
  /* display: block; */
  list-style-type: none;    /* This stops bullet points appearing left of written underlined header links */
  margin: 1%;   /* 0; */    /* Shrinks box width wise */
  padding: 0; /* 0 1em; */ 	/* Shrinks bands width wise */
  position: relative; /* Forces the bottom border of the h2 to display in IE. If change position to absolute box shrinks */
}

ul.accordion li {
  clear: left;
  position: relative;              /* If change position to absolute, box shrinks vertically */
}

ul.accordion h3 {
  margin: 0;  /*Push in yellow underline */            /* margin-left: -1% Was needed to line up left hand side of composer name with left hand side of band */
  /* background-color: #4F94CD; */ /* light blue */      /* To keep header background from changing to box colour if different */
}

ul.accordion h4 {
  background-color: #FFD700; /* gold */                /* Band colour */
  border: solid #FFF;        /* white */
  border-width: 0.35em 0.35em;  /* 1px 0; */              /* Border effect for band */
  margin: 0.625em 0;             /* 1% 0; */               /* 0 -0.667em -1px */     /* Separation between bands */
}

ul.accordion h4 a:link,
ul.accordion h4 a:visited {
  color: #000;             	/* Colour of band link words */
  display: block;	/* block causes the link to display as a block element, as for navigation links */
  margin: 0 -0.1em 0 -0.40em; /* To get highlighted colour covering band colour TODO: Need highlight shifting 1px to left */
  padding: 0;               	/* 0 0.667em; 0.667em pushing band link words to right */
  text-decoration: none;    	/* Prevents underlining for header links */
}

ul.accordion p {
	font-size: 1.3rem;
	margin: 1em 0;
}

/* Accordion styles (dynamic) */

ul.accordion li.collapsed * {
  position: absolute;                    /* Don't want to use display: none to hide collapsed fold (li element of class collapsed) because screen readers don't read */
  left: -10000px; /*Offleft positioning*//* content hidden with display: none even when it is later revealed. Hide content instead with off left positioning. */
										 /* Screen readers - */
}                                        /* will be able to read the hidden content. But, keyboard users will be forced to tab through content they cannot see! */
                                         /* Can also use text-indent: -10000px; (Doesn't work if direction of language right to left). Can also use zero height i.e */
										 /* position: absolute; height: 0; overflow: hidden; (Voice Over screen reader will not read content within element with 0 */
										 /* height) */

ul.accordion li.collapsed h3,
ul.accordion li.collapsed h4,
ul.accordion li.collapsed h4 a:link,
ul.accordion li.collapsed h4 a:visited,
ul.accordion li.expanded h4,
ul.accordion li.expanded h4 a:link,
ul.accordion li.expanded h4 a:visited {
  position: static;                        /* Keeps band (header) (h4) and Composer name (h3) from being shifted -10000px to left */
}

ul.accordion li.expanded h4 a {
	background-color: grey;		/* Band colour for expanded section */
}

/* Change background colour for header of fold (band) that is expanded, has the cursor over it, */
                                        /* or has keyboard focus */


/* ul.accordion li.collapsed h4 a:hover {
	background-color: #204c75;
}

ul.accordion li.collapsed h4 a:focus {
	background-color: #CCC;
}

ul.accordion li.collapsed h4 a:active {
  background-color: purple;
} */