		#navigation {
			text-align: center;
			position: relative; /* Set offset with respect to entire document's top position. This is so we can easily move the navigation bar using its top property */
			float: left; /* Puts menu left of page */
			background-color: #4F94CD; /* light blue */
			margin-left: 1%;    /* Moves floating menu box to right, relative to window */
			width: 150px;     /* Needs to be absolute, otherwise change size on window resize */
			border-radius: 9px;	/* Added rounded corners effect via css instead of javascript 130820 */
		}

		#navigation h3 {
			font-size: 1.25em;
			margin: 1% 2%;
		}

		#navigation ul {
			list-style-type: none;  /* Prevent bullet points for menu options */
			margin: 0;
			padding: 0;
		}

		#navigation a {
			text-decoration: none; /* No underlining */
		}

		#navigation li a:link, #navigation li a:visited{
			font-weight: bold;
			padding: 0.25em;
			display: block;          /* block causes the link to display as a block element, meaning that the whole area of each navigation “button” is active when you */
			color: #FFFFFF;          /* move the cursor over it — the same effect you’d see if you used an image for the navigation */
		}

		#navigation a:hover {
			margin: -2px 0;             /* Compensates for push down effect on item and items below it because of border application  border: 2px solid #4F94CD */
			background-color: #036;
			border: 2px solid #4F94CD;
		}

		#navigation h3.hidden, #navigation ul.hidden { /* Hide Navigation bar when javascript disabled 270511 */
			display: none;
		}