@import "../node_modules/sass-json-export/stylesheets/sass-json-export.scss";

$colours: (
	bluefg: #4F94CD,
	bluebg: #204c75,
	greenfg: #49b293,
	greenbg:   #02443b, // Was #036456 then #078531
	redfg: #f02e2e, //#fc4040,
	redbg: #b03532, // #cf331e,
	orangefg: #fc9d50, // #f58b34,
	orangebg:  #f37f32 // #fa6908
);

$colour-higher-contrast: (
	bluefg: #3279B3,
	bluebg: #204c75,
	greenfg: #35826B,
	greenbg: #02443b,
	redfg: #EC0404,
	redbg: #b03532,
	orangefg: #BE5A09,
	orangebg:  #a95108
);

@include json-encode($colours, regular);

@include json-encode($colour-higher-contrast, regular);