@import "../node_modules/sass-json-export/stylesheets/sass-json-export.scss";

$colours: (
	bluefg: #4F94CD,
	bluebg: #204c75,
	greenfg: #49b293,
	greenbg: #078531, // #036456,
	redfg: #f02e2e, //#fc4040,
	redbg: #b03532, // #cf331e,
	orangefg: #fc9d50, // #f58b34,
	orangebg:  #f37f32 // #fa6908
);

@include json-encode($colours, regular);