<IfModule mod_headers.c>

Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"
Header set Referrer-Policy "same-origin"
Header set Feature-Policy "microphone 'none'; camera 'none'; geolocation 'none';"
Header set Content-Security-Policy "default-src 'self'; form-action 'self'; frame-ancestors 'none'; base-uri 'none'; object-src 'none'; img-src cccmg.epizy.com/images/favicon.ico cccmg.epizy.com/images/Eras_Bold_ITC_transparent.png http://jigsaw.w3.org/css-validator/images/vcss; script-src 'self' 'unsafe-inline' https://code.jquery.com/jquery-1.7.2.min.js https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js; style-src 'self'; report-uri /some-report-uri.json;"

# Disable all directory views (recommended for better security)
Options -Indexes
# Disable multi-views (recommended for canonical URIs)
Options -MultiViews
# Enable symlinks (required for permalinks/rewrites, e.g., index.php → index.html)
Options +FollowSymlinks
# Disables the server signature (recommended for better security)
ServerSignature Off
# Disables the ETag Header (recommended for performance)
FileETag none

ExpiresActive On

# Content-Security-Policy-Report-Only:
# "default-src 'self';
# img-src 'self';
# base-uri 'self';
# style-src 'self' 'unsafe-inline';
# script-src 'self' 'unsafe-inline';
# object-src 'none';
# frame-ancestors 'none';
# frame-src 'none';
# report-uri /some-report-uri;
# report-to /some-report-to;"

# no caching
<FilesMatch "\.(html|htm|php)$">
Header set Cache-Control "no-cache must-revalidate"
Header set Pragma "no-cache"
Header set Expires 0
</FilesMatch>

# 1 day - max-age
<FilesMatch "\.(txt|png|woff2|js|css|ico|vcss)$">
Header set Cache-Control "max-age=86400, public"
</FilesMatch>

# Prevent Apache from serving .htaccess files:
<FilesMatch "^\.htaccess">
    Order allow,deny
    Deny from all
</FilesMatch>


</IfModule>