<IfModule mod_headers.c>

Header always set X-Content-Type-Options "nosniff"
Header always set X-Frame-Options "SAMEORIGIN"
Header set X-XSS-Protection "1; mode=block"
Header set Referrer-Policy "same-origin"
Header set Feature-Policy "microphone 'none'; camera 'none'; geolocation 'none';"
Content-Security-Policy-Report-Only "default-src 'self'; form-action 'self'; frame-ancestors 'none'; base-uri 'none'; object-src 'none'; img-src self http://jigsaw.w3.org/css-validator/images/vcss; script-src https://code.jquery.com/jquery-1.7.2.min.js self 'sha256-PrfFmUDkCCzBFkHUKiGa+ndMjkW+gYZbuPD4bX7HJuQ=' 'unsafe-inline'; style-src 'self'"

# Disable all directory views (recommended for better security)
Options -Indexes
# Disable multi-views (recommended for canonical URIs)
Options -MultiViews
# Enable symlinks (required for permalinks/rewrites, e.g., index.php → index.html)
Options +FollowSymlinks
# Disables the server signature (recommended for better security)
ServerSignature Off
# Disables the ETag Header (recommended for performance)
FileETag none

ExpiresActive On

# no caching
<FilesMatch "\.(html|htm|php)$">
Header set Cache-Control "no-cache must-revalidate"
Header set Pragma "no-cache"
Header set Expires 0
</FilesMatch>

# 1 day - max-age
<FilesMatch "\.(txt|png|woff2|js|css|ico|vcss)$">
Header set Cache-Control "max-age=86400, public"
</FilesMatch>

# Prevent Apache from serving .htaccess files:
<FilesMatch "^\.htaccess">
    Order allow,deny
    Deny from all
</FilesMatch>


</IfModule>